<!--<router-outlet></router-outlet>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-train"></i> MBTA Next Time</a>
  </div>
</nav>

<div class="container pt-5">
  <div class="pb-4">
    <p>This application helps you determine the next departure time of the Light and Heavy rail train at a specific stop.</p>
    <p>Fill the information in the fields to find the next departure of the train.</p>
  </div>

  <form name="form" #f="ngForm" novalidate>
    <div class="form-row">
      <div class="form-group col">
        <label>Route:</label>
        <select class="form-control" (change)="onRouteSelected($event.target.value)" name="route" [(ngModel)]="routeId" required>
          <option [ngValue]="null">--- Select Route ---</option>
          <option *ngFor="let item of routes" value="{{item.id}}">{{item.attributes.long_name}}</option>
        </select>
      </div>
  
      <div class="form-group col">
        <label>Stop:</label>
        <select class="form-control" name="stop" [(ngModel)]="stopId" required>
          <option [ngValue]="null">--- Select Stop ---</option>
          <option *ngFor="let item of stops" value="{{item.id}}">{{item.attributes.name}}</option>
        </select>
      </div>
  
      <div class="form-group col">
        <label>Direction:</label>
        <select class="form-control" name="direction" [(ngModel)]="direction" required>
          <option [ngValue]="null">--- Select Direction ---</option>
          <option *ngFor="let item of directions; let index = index" [ngValue]="index">{{item}}</option>
        </select>
      </div>
    </div>

    <button class="btn btn-primary" (click)="onGetNextSchedule()" [disabled]="!f.form.valid">Show Next Schedule</button>
  </form>
</div>

<div class="container mt-5">

  <div *ngIf="hasData && schedule?.attributes.departure_time != null">
    <h3>The next departure time of the train</h3>
    <hr>
    <div class="text-center font-weight-bold mt-5" style="font-size:0.8rem">
      {{schedule?.attributes.departure_time | date:'d, MMMM y'}}
    </div>
    <div class="text-center font-weight-bold" style="font-size:9rem">
      {{schedule?.attributes.departure_time | date:'hh:mm a'}}
    </div>
  </div>

  <div *ngIf="(hasData && schedule?.attributes.departure_time == null)">
    <h3>The next departure time of the train</h3>
    <hr>
    <div class="text-center font-weight-bold mt-5" style="font-size:6rem">
      Unavailable time
    </div>
  </div>

</div>


<div class="lds-ripple-backdrop" [class.show]="working">
  <div class="lds-ripple"><div></div><div></div></div>
</div>